%nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      =link_to "Mercado Camiones", root_path, class: 'navbar-brand'

    %nav.collapse.navbar-collapse{role: "navigation"}
      %ul.nav.navbar-nav.pull-right
        -if user_signed_in?

        -else
          %li=link_to "Vender", "#"
          %li=link_to "Inscribirse", "#"
          %li=link_to "Ingresar", login_path, remote: true